[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "HPZoneAPI"]
	path = HPZoneAPI
	url = https://github.com/ggdatascience/hpzoneapi
